<form onsubmit={{action 'createInvestment'}}>
    <h3>Create a new Investment</h3>
    <label for="symbol">Symbol</label>
    {{input id="symbol" type="text" value=symbol}}
    <label for="unitPrice">Unit Price</label>
    {{input id="unitPrice" type="number" value=unitPrice}}
    <button type="submit">Create</button>
</form>
<h3>Existing Investments</h3>
{{#each model as |investment|}}
    <p>
        {{input type="text" value=investment.symbol}}
        {{input type="number" value=investment.unitPrice}}
        <button onclick={{action 'updateInvestment' investment}}>Update</button>
        <button onclick={{action 'deleteInvestment' investment}}>Delete</button>
    </p>
{{/each}}
